.product_img_wrup{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.product_img_inner{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start}.product_img{max-height:120px;margin-right:5px}.product_img_btn{display:block;font-size:18px;line-height:18px;text-align:center;color:#e81313;padding:0 5px 5px 5px;-webkit-transition:color .1s ease-out;-o-transition:color .1s ease-out;transition:color .1s ease-out}.product_img_btn:hover{color:#940f0f}.product_photo_wrup{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.product_photo_inner{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin:0 20px 20px 0}.product_photo_inner .product_img_btn{font-size:16px}.product_photo{height:80px}

.admin_category_img_wrap{
    display: flex;
    max-height: 100px;
    margin-bottom: 10px;
}
.admin_category_img_block{
    height: 100px;
    margin-right: 15px;


}
.admin_category_img{
    height: 100%;
}

.admin_category_btn_del i {
    color: red;
    transition: color .15s ease-in-out;
    cursor: pointer;
}
.admin_category_btn_del i:hover {
    color: #9f041b;
}
